ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.is-active {
    font-weight: 900;
}

header {
    display: flex;
    .header-logo-wrapper {
        h1 {
            font-size: 18px;
        }
    }
    ul {
        display: flex;
    }
}